<div class="container-center">
  <h1>Product</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur,
    veniam ipsum illum quisquam dolorum accusantium ea facilis veritatis ratione
    aut eligendi pariatur aliquam quidem ipsa illo provident fuga. Doloribus,
    atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Consequuntur, veniam ipsum illum quisquam dolorum accusantium ea facilis
    veritatis ratione aut eligendi pariatur aliquam quidem ipsa illo provident
    fuga. Doloribus, atque. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Consequuntur, veniam ipsum illum quisquam dolorum accusantium ea
    facilis veritatis ratione aut eligendi pariatur aliquam quidem ipsa illo
    provident fuga. Doloribus, atque.
  </p>
</div>
<hr />

<div class="container">
  <app-card>
    <h1 class="heading">Laptop</h1>
    <button mat-button class="btn">Know Me About Laptop</button>
  </app-card>

  <app-card>
    <h1 class="heading">Mobile</h1>
    <button mat-button  class="btn">Know Me About Mobile</button>
  </app-card>
  <app-card>
    <h1 class="heading">TV</h1>
    <button mat-button  class="btn">Know Me About TV</button>
  </app-card>

  <app-card>
    <h1 class="heading">HeadPhone</h1>
    <button mat-button  class="btn">Know Me About Headphone</button>
  </app-card>
</div>
