<!-- <ul>
  <li><a routerLink="/" routerLinkActive="active" >Home</a></li>
  <li><a routerLink="/binding" routerLinkActive="active" >Binding</a></li>
  <li><a routerLink="/directive" routerLinkActive="active" >Directive</a></li>
  <li><a routerLink="/pushslice" routerLinkActive="active">pushSplice</a></li>
 
</ul> -->

<mat-toolbar color="primary">
 <span routerLink="/" routerLinkActive="active" >Home</span>&nbsp;	&nbsp;
 <span routerLink="/pushslice" routerLinkActive="active">About</span>&nbsp;	&nbsp;
 <span routerLink="/contact" routerLinkActive="active" >Contact</span>&nbsp;	&nbsp;
 <span routerLink="/binding" routerLinkActive="active" >Binding</span>&nbsp;	&nbsp;
 <span routerLink="/product" routerLinkActive="active" >Product</span>&nbsp;	&nbsp;
 <span routerLink="/directive" routerLinkActive="active" >Directive</span>&nbsp;	&nbsp;
 <span routerLink="/parent" routerLinkActive="active" >BuyProduct</span>&nbsp;	&nbsp;
 
</mat-toolbar>
<router-outlet></router-outlet>