<div class="container-center"><h1>Product</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, veniam ipsum illum quisquam dolorum accusantium ea facilis veritatis ratione aut eligendi pariatur aliquam quidem ipsa illo provident fuga. Doloribus, atque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, veniam ipsum illum quisquam dolorum accusantium ea facilis veritatis ratione aut eligendi pariatur aliquam quidem ipsa illo provident fuga. Doloribus, atque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, veniam ipsum illum quisquam dolorum accusantium ea facilis veritatis ratione aut eligendi pariatur aliquam quidem ipsa illo provident fuga. Doloribus, atque.
    </p></div>
<hr>

<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwXaQfeb3pz-uYDN3YFqxoiFCo7egQ2wLWMA&s" alt="Photo of a Shiba Inu">
         <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="laptop">Laptop</button>    
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card" appearance="outlined">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMdyao5CzD8sKVSn7J3O99JfS3B8uAV0SxKw&s" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="mobile">Mobile</button>    
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card" appearance="outlined">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuKJie0juKWcdhusAQnbewXgPP7ia4c3GcIg&s" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="tv">TV</button>    
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card" appearance="outlined">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7DMu-7O2189abNd7fPJCirKtnE_NiO93s_g&s" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="headphone">Head Phone</button>    
        </mat-card-actions>
      </mat-card>
    
      <div>
        <router-outlet></router-outlet>
      
      </div>
</div>

