
  
<div class="incontainer">
<mat-form-field class="example-full-width">
    <mat-label>User name</mat-label>
    <input matInput #uname>
  </mat-form-field>
    <div class="example-button-row">
        <button mat-button (click)="createUser(uname)">Save</button>
        <button mat-button (click)="deleteUser()">Delete</button>
    </div>
</div>
 

<table>
    <thead>
        <tr>
            <td>User</td>
        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <td>
               {{user.name}}
            </td>
            <td>
                <button (click)="deleteItem(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>